<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Home Page</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style type="text/css" media="screen"> 
        body { 
            background-color: rgb(239, 238, 240); 
            color: rgb(136, 91, 91); 
            font-size:2em;  
        } 

        #main{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10%;
        }
        form {
            width: 50%;
        }
    </style> 
</head> 
  
<body> 
  
    
    <div id="error">
        <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
            <% }) %>
        <% } %>
    </div> 

    <div id="message">
        <% if(typeof message != 'undefined') { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= message %>
              </div>
        <% } %>
    </div> 
   <div id="main">   
    <form action="/download" method="POST">
        <div class="form-group">
            <label for="url" class="form-label">Enter url : </label>
            <input type="text" class="form-control" name="url" id="url">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</div>
</body> 
  
</html>